name: Pytest windows

on:
  pull_request:
    branches: [main]
  schedule:
    - cron: "15 7 * * *"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

env:
  PYTHONPATH: ${{ github.workspace }}/src
  SENZING_TOOLS_DATABASE_URL: 'sqlite3://na:na@nowhere/C:\Temp\sqlite\G2C.db'

permissions: {}

jobs:
  pytest-windows:
    name: "Pytest with Senzing: ${{ matrix.senzingsdk-version }}; OS: windows-latest; Python ${{ matrix.python-version }}"
    permissions:
      contents: read
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        senzingsdk-version: [production-v4, staging-v4]
    timeout-minutes: 30

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m venv .\\venv
          .\\venv\\Scripts\\activate
          python -m pip install --upgrade pip
          python -m pip install --group all .

      - if: matrix.python-version == '3.10'
        name: Install python libraries for python 3.10
        run: |
          .\\venv\\Scripts\\activate
          python -m pip install typing_extensions

      - name: Install Senzing SDK
        uses: senzing-factory/github-action-install-senzing-sdk@v3
        with:
          senzingsdk-version: ${{ matrix.senzingsdk-version }}

      - name: Set environment variables
        run: |
          Add-Content "$env:GITHUB_PATH" "$Env:USERPROFILE\Senzing\er\lib"

      - name: Copy /etc files
        run: |
          copy testdata/senzing-license/g2.lic "$Env:USERPROFILE\Senzing\er\etc\g2.lic"

      - name: Copy test database files
        run: |
          mkdir "C:\Temp\sqlite"
          copy testdata/sqlite/G2C.db "C:\Temp\sqlite\G2C.db"

      - name: Run pytest
        run: |
          .\\venv\\Scripts\\activate
          $Env:SENZING_PATH = "$Env:USERPROFILE\Senzing"
          pytest tests/ --verbose --capture=no --cov=src

      - name: Rename coverage file
        env:
          COVERAGE_FILE: "coverage.${{ matrix.python-version }}-${{ matrix.senzingsdk-version }}"
        run: |
          Rename-Item -Path.coverage -NewName "$env:COVERAGE_FILE"

      - name: Store coverage file
        uses: actions/upload-artifact@v6
        with:
          name: "coverage-${{ matrix.python-version }}-${{ matrix.senzingsdk-version }}"
          path: "coverage.${{ matrix.python-version }}-${{ matrix.senzingsdk-version }}"

  coverage:
    if: github.event_name == 'pull_request'
    name: Coverage
    needs: pytest-windows
    permissions:
      pull-requests: write
      contents: write
    uses: senzing-factory/build-resources/.github/workflows/python-coverage-comment.yaml@v4

  slack-notification:
    needs: [pytest-windows]
    if: ${{ always() && contains(fromJSON('["failure", "cancelled"]'), needs.pytest-windows.result ) && github.event_name == 'schedule' }}
    secrets:
      SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
      SLACK_CHANNEL: ${{ secrets.SLACK_CHANNEL }}
    uses: senzing-factory/build-resources/.github/workflows/build-failure-slack-notification.yaml@v4
    with:
      job-status: ${{ needs.pytest-windows.result }}
